
header {

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    .logo {
      h1 {
        font-size: 30px;
      }
    }

    .menu {

      @include mobile {
        display: none;
      }
      ul {
        display: flex;
        gap: 20px;
      }
    }

    .menu-hamburger {
      display: none;
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: 3px;
        span {
          position: relative;
          background-color: red;
          width: 50px;
          height: 3px;
        }
      }

    }
  }
}

.menu-mobile {
  background-color: white;
  padding: 40px 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}