// Header
header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {

      h1 {
        font-size: 25px;
        font-weight: bold;

      }
    }


    .menu {
      display: flex;
      gap: 20px;
      ul {
        display: flex;
        gap: 20px;
      }
      .search {
        border: 1px solid black;
        border-radius: 30px;
  
      }
    }




  
    .hamburger {
      display: flex;
          flex-direction: column;
          gap: 10px;
      span {
        display: flex;
        background: $color-black;
        width: 32px;
        height: 2px;
      }
    }
  }

  .container-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo {

      h1 {
        font-size: 25px;
        font-weight: bold;

      }
    }
  }


}


/* Quando o usuário faz scroll, adiciona a classe "scrolled" */
header.scrolled {
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ao rolar */
}

