//reset
/* Reset de estilos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Configurações padrão para blocos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reseta a aparência dos botões */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

/* Remove estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove a aparência do campo de pesquisa no Safari */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* Remove a aparência do contorno em formulários no Firefox */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus,
input:focus {
  outline: 0;
}

/* Remove a aparência de rolagem de textos em dispositivos móveis */
textarea {
  resize: none;
}
