

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


$font-title: "Playfair Display", serif;
$font-text: "Merriweather", serif;


// Cores
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #6D6D6D;

// Espaçamento
$space-small: 20px;
$space-medium: 35px;
$space-large: 50px;
$space-xlarge: 100px;
    