
.title {
  h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    padding: 10px 0;
    @include mobile {
      font-size:20px;
      line-height: 25px;
    }
  }

  h2 {
      font-size:20px;
      line-height: 25px;
      margin: 10px 0;
  }
  
}

.description-articles {
  font-size: 13px;
  line-height: 18px;
}


.headline {
  margin: 30px 0 15px;
  .container {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    .h-image {
      height: 382px;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 9;
      @include mobile {
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 5;
        
      }
    }
    
    .h-texts {
      @include mobile {
        grid-column-start: 1;
        grid-column-end: 5;
        
      }
      grid-column-start: 9;
      grid-column-end: 13;
    }
  }
}

.autor {
  display: flex;
  align-items: center;
  margin: 10px 0;
  .a-photo {
    margin-right: 10px;
    width: 60px;
    height: auto;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .a-name {
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
      color: $color-grey;
    }


    .a-time {
      display: flex;

      p {
        font-size: 13px;
        color: $color-grey;
      }
    }
  }
}

.articles {
  .container {
    border-top: 1px solid black;

  }

  .a-title {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: underline;
    }
  }
  .a-content {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    .h-image {
      height: 200px;
      width: 100%;
    }
  }
}


.article {

  .h-texts {
    .title {
      margin: 10px 0;
    }
  }
}

.news-headline {

  .h-content {

    .h-title {
      h1 {
        font-size: 35px;
        margin: 50px 0;
        @include mobile {
          font-size: 24px;
          margin: 25px 0;
        }
      }
    }

    .h-image {
      width: 100%;
      height: 450px;
      @include mobile {
        height: 300px;
      }
    }
  }
}

.news-content {
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
  }
}


.grid-articles {


  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }

  .filterDiv {
    // float: left;
    // background-color: #2196F3;
    // color: #ffffff;
    // width: 100px;
    // line-height: 100px;
    // text-align: center;
    // margin: 2px;
    display: none; /* Hidden by default */
  }

  .show {
    display: block;
  }
  

  .container {
    border-top: 1px solid black;

  }

  .a-title {
    margin: 30px 0;
  }
  .a-content {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    .h-image {
      height: 200px;
      width: 100%;
    }
  }
}