.feed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas para telas maiores */
    gap: 20px; /* Espaçamento entre os cards */
  
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* Uma coluna */
      gap: 15px; /* Reduz o espaçamento em telas menores */
    }
}

.feed-card-line {
    font-size: 14px;
    background-color: red;
    padding: 5px 10px;
    color: white;
    margin: 10px;   
}

.feed-card-line p {
  margin: 0;
}



  .feed-card {
    background-color: #fff;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feed-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); */
  }
  
  .feed-card-image {
    width: 100%;
    height:200px;
    object-fit: cover;
  }
  
    /* .feed-card-content {
      padding: 15px;
    } */
  
  .feed-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
  }
  
  .feed-card-description {
    font-size: 14px;
    color: #666;
  }

  .feed-card-author {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .feed-card-author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    margin-right: 10px;
  }

  .feed-card-author-info {
    display: flex;
    flex-direction: column;
   }

  .feed-card-author-name {
    font-weight: bold; 
    font-size: 16px;
    color: #333;
  }

  .feed-card-author-date {
    font-size: 12px;
    color: #999;
  }
  